body {
    font-family: 'Open Sans', sans-serif;

}

select,
input,
option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
}

a {
    text-decoration: none;
}


/******************   NAVIGATION   ********************/

.main-nav {
    height: 77px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.humdah-logo {
    display: inline-block;
    height: 100%;
    margin-left: 100px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-name {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
    color: #ccc;
}

.right-nav {
    float: right;
}


.site-description {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}



/******************   MAIN CONTENT SECTION   ********************/

.main-content {
    margin-top: 5%;
}

.jumbo-description {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.jumbo-heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.jumbo-content {
    font-size: 22px;
    text-align: center;
    color: #777;
}

.jumbo-btn,
.filter-btn {
    width: 250px;
    height: 60px;
    border: 1px none #4cae4c;
    border-radius: 6px;
    background-color: #f0ad4e;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none solid rgba(255, 255, 255, 0.84);
    margin-top: 40px;
    cursor: pointer;
}

.filter-btn {
    width: 100%;
}


.jumbo-btn:hover,
.filter-btn:hover {
    background-color: #0b8d4c;
}

.hdma-disclosure {
    margin-bottom: 200px;
    margin-top: 5px;
    height: 14px;
    font-size: 10px;
    color: #484848;
    font-weight: 400;
    text-align: center;
}

.disclosure_link:hover {
    color: rgba(14, 100, 170, 0.836);
}


/**************************************     INSIGHTS SECTIONS      **************************************/

section {
    display: none;
}

.hmda-banner-img {
    width: 100%;
    height: 70px;
    margin-top: 10px;
}

.filter-title {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}

.filter-box {
    background-color: #fff;
    background-size: cover;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 20px 15px;
}

.loan-min {
    font-size: 14px;
}

.hmda-content {
    margin-top: 25px;
}

fieldset input[type="checkbox"] {
    display: none;
}

fieldset {
    border: none;
}

/*FORM CHECKBOX CUSTOM CSS FOR YEARS OF DATA TOGGLE BUTTONS*/

label.hmda-year-label,
label.hmda-purpose {
    font-size: 10px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    text-align: center;
    display: block;

}

label.hmda-year-label:hover,
label.hmda-purpose:hover {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}


input[type=checkbox]:checked + label.hmda-year-label {
    background-color: #4cae4c;
    color: #fff;
}

input[type=checkbox]:checked + label.hmda-purpose {
    background-color: #4cae4c;
    color: #fff;
}


/*STATE SELECT LIST*/

select {
    font-size: 12px;
    padding: 5px 10px;
    background: url('https://static.thenounproject.com/png/551749-200.png') no-repeat 97% 50% #f2f2f2;
    background-size: 15px 15px;
}

.selected-state,
.selected-county {
    position: relative;
}


/* LOAN RANGE INPUTS*/

input[type="number"] {
    font-size: 14px;
    background-color: #f2f2f2;
    padding: 5px 5px;
    border-radius: 10px;
}



/********************* RESULTS SECTION  ************************/

.hmda-kpi-metrics {

    margin-top: 10px;
}


/********* CARD KPIS **************/

.card {
    background-color: #f2f2f2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}


.card-title {
    font-size: 14px;
    color: #a4abbf;
    font-weight: 700;
    text-decoration: none solid rgb(164, 171, 191);
    margin: 15px;
}


.card-kpi {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.main-kpi,
.sub-kpi {
    color: #484848;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.main-kpi-value,
.sub-kpi-value {
    font-size: 26px;
    color: #484848;
    font-weight: 700;
    text-decoration: none solid rgb(0, 0, 0);
}

.sub-kpi-title {
    font-size: 14px;
    height: 40px;
    overflow: hidden;
}

.sub-kpi-value {
    font-size: 22px;
}

.sub-kpis {
    margin-top: 10px;
}

.kpi-loan-purpose {

    margin-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.kpi-purpose {
    padding-bottom: 5px;
}

.kpi-purpose p {
    font-size: 10px;
    color: #999;
}

.kpi-purpose span {
    color: green;
}

.hmda-kpi-chart {
    height: 400px;
    background-color: #f2f2f2;
    margin-top: 15px;
}

/** SPINNER **/

.spinner-title {
    display: none;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #ccc;
}

.spinner {
    display: none;
    position: relative;
    width: 200px;
    height: 200px;
    top: 50;
    bottom: 0;
    left: 180;
    right: 100;
    margin: auto;
}

.item {
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
}

.item-1 {
    background-color: #FA5667;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
    background-color: #7A45E5;
    top: 0;
    right: 0;
    z-index: 1;
    animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
    background-color: #1B91F7;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
    background-color: #FAC24C;
    bottom: 0;
    left: 0;
    z-index: 3;
    animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@keyframes item-1_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, 100px)
    }
    50% {
        transform: translate(100px, 100px)
    }
    75% {
        transform: translate(100px, 0)
    }
}

@keyframes item-2_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-100px, 0)
    }
    50% {
        transform: translate(-100px, 100px)
    }
    75% {
        transform: translate(0, 100px)
    }
}

@keyframes item-3_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, -100px)
    }
    50% {
        transform: translate(-100px, -100px)
    }
    75% {
        transform: translate(-100px, 0)
    }
}

@keyframes item-4_move {
    0%,
    100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(100px, 0)
    }
    50% {
        transform: translate(100px, -100px)
    }
    75% {
        transform: translate(0, -100px)
    }
}


/*********** RESPONSIVENESS ***********************/

@media only screen and (max-width: 1550px) {

    fieldset div.col-4,
    fieldset div.col-6 {
        width: 100%;
        margin-top: 5px;
    }

    .col-2 {
        width: 50%;
    }
}


@media only screen and (max-width: 900px) {

    .card {
        width: 100%;
        margin-top: 15px;
    }
}


@media only screen and (max-width: 500px) {

    .card {
        width: 100%;
        margin-top: 15px;
    }
}


/******************     FOOTER *********************/

footer {
    margin-top: 75px;
    height: 300px;
    background-color: #484848;
    color: #ccc;
    text-align: center;
}


.footer-title {
    padding-top: 100px;
    font-size: 18px;
    font-weight: 600;
}

.footer-description {
    font-size: 14px;
}
